.Login_box{
	background:url(../img/2.png);
	width: 300px;
	height: 180px;
}
.username{
	margin: 10px;
}
.password{
	margin: 10px;
}
.landing{
	margin-top:20px;
	margin-left: 60px;
	width: 120px;
	height: 30px;
}
.registered{
	height: 30px;
}
.username_2{
	margin: 10px;

}
.password_2{
	margin: 10px;
}
.Login_box{
	position: absolute;
	left:600px;
	top: 260px;

}
.Login_box_2{
	position: absolute;
	left:600px;
	top: 260px;
	width: 300px;
	height: 180px;
	background:url(../img/2.png);
}
.registered_2{
	width: 100px;
	height: 30px;
	position: relative;
	left: 145px;
	top: 20px;
}
body{
	background-image:url(../img/4.jpg);
}

.return{
	position: relative;
	right: 100px;
	top: 20px;
	width: 100px;
	height: 30px;
}



