<!DOCTYPE html>
<head>
<script src="javascript.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/wt.css" />
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<!--<script type="text/javascript" src="JS/jquery-2.0.0.min.js"></script>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<!--<script type="text/javascript">-->
    <!--$(function(){-->
        <!--$(".landing").click(function(){-->
            <!--alert("loading...")-->
            <!--if ($(".username").val() == ""){-->
                <!--alert("登陆失败")-->
            <!--}-->
            <!--else if ($(".password").val() == ""){-->
                <!--alert("登陆失败")-->
            <!--}-->
            <!--else {-->
                <!--alert("登陆成功")-->
            <!--}-->
        <!--})-->
    <!--})-->
<!--</script>-->

</head>

<body class="body_1">
    <div class="Login_box">
        请输入登录用户和密码
        <br />
        <form>
        用户：<input type="text" value="" class="username">
        <br />
        密码：<input type="text" value="" class="password">
        <br />
        <!--<input type="button" value="登陆" class="landing">-->
            <div class="btn"><a href="/swift/login/">登录</a></div>
        <!-- <a href="Untitled-2.html"><input type="button" value="注册" class="registered"></a> -->
        <br />
        </form>
    </div>
</body>
</html>