{% extends "base.html" %}
{% block title %}projects{% endblock %}
{% block content %}
<h1>项目</h1>
<hr/>
<a class="btn btn-block" id="createbtn">创建</a>
<table class="table table-striped">
    <tr>
      <th>
          <label class="checkbox">
              <input type="checkbox">
          </label>
      </th>
      <th>名称</th>
      <th>描述</th>
      <th>项目标识</th>
      <th>域名</th>
      <th>已启用</th>
      <th>Actions</th>
    </tr>
      {% for n in project%}
    <tr>
      <td>
          <label class="checkbox">
              <input type="checkbox">
          </label>
      </td>
      <td>{{n.name}}</td>
      <td>{{n.description}}</td>
      <td class="id">{{n.id}}</td>
      <td>{{domain.name}}</td>
      <td>{{n.enabled}}</td>
      <td>{% include "baseSelect.html"%}</td>
    </tr>
      {% endfor %}
</table>
{% with urlupdate='/project_update/' urlcreate='/project_create/' urldelete='/project_delete/' %}
{% include "key_base.html"%}
{% endwith %}

{% endblock %}
